body {
  font-family: "Source Sans Pro", sans-serif !important;
}

.app-screen {
  width: 350px;
  height: 750px;
  margin: 30px auto 0;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  border-radius: 25px;
  padding: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
}

.main_div {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

.form-row {
  padding: 20px;
  margin: 0 auto;
}

.form-group {
  padding: 0 !important;
}

.search {
  font-size: 12px !important;
}

.btn {
  font-size: 12px !important;
  padding: 6px 6px !important;
  display: inline;
  margin: 0 5px;
  background-color: #09203f !important;
  border-color: #09203f !important;
}

.today {
  padding: 0 20px;
}

h1 {
  color: #fff;
  margin-bottom: 5px !important;
}

h5 {
  color: #fff;
  font-weight: 300 !important;
  font-size: 17px !important;
}

.emoji {
  font-size: 170px;
  text-align: center;
  line-height: 150px;
  margin-bottom: 40px;
}

.emoji img {
  width: 150px;
  height: auto;
}

.temperature {
  text-align: center;
  color: #fff;
  padding-top: 0;
}

.infos {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
  font-size: 10px;
}

a {
  color: #fff !important;
  text-decoration: none;
  font-weight: 300;
}

.active {
  cursor: default;
  font-weight: 600;
}

.active:hover {
  text-decoration: none;
}

.main-temp {
  font-size: 80px;
  line-height: 20px;
}

.units {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #eeeeee;
  line-height: 20px;
  padding-top: 12px;
}

.min-temp,
.max-temp {
  font-weight: 300 !important;
  font-size: 20px;
}

.other-days {
  margin: 0 !important;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 21px;
  width: 100%;
  height: 150px;
  padding: 10px;
}

.days {
  background-color: #fff;
  margin: 15px auto 15px;
  font-size: 10px;
  color: #09203f;
  padding: 1px !important;
  max-width: 46px !important;
  height: 100px;
  text-align: center;
  border-radius: 10px;
  border: solid 0.5px #eeeeee;
}

.week-day {
  font-size: 8.3px;
  padding-top: 8px;
  margin-bottom: 10px;
}

.emoji-p {
  font-size: 15px;
  margin: 3px auto !important;
}

.temp {
  font-size: 12px;
  line-height: 15px;
  margin: 0 auto;
}

.sign {
  text-align: center;
  font-size: 10px;
  padding-top: 10px;
  color: #09203f;
}
